@using GreenvilleFarmsProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
    <div id="content" class="about-image background">
        <div class="card mx-auto m-2 border-green" style="max-width: 50rem">
            <div class="card-img-top bg-green mh-100;">
                <h4 class="card-header" style="color:#ffffff;">Login</h4>
            </div>
            <div class="container-fluid m-3 mx-auto">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="email"><strong>Email:</strong></label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Your email..." })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div><!--/form-group-->
                    <div class="form-group">
                        <label for="password"><strong>Password:</strong></label>
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Your Password..." })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div><!--/form-group-->
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <input type="submit" value="Log in" class="btn btn-green" />
                }
            </div><!--/container-fluid-->
        </div><!--/card-->
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
