@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/Site.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav>
            <ul id="navbar">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
                <li>
                    @Html.ActionLink("About", "About", "Home")
                </li>
            </ul>
        </nav>
        @RenderBody()
        <hr />
        <footer>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <p>
                        &copy; @DateTime.Now.Year - Greenville Farms
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </p>
                }
            }
            else
            {
                <p>
                    &copy; @DateTime.Now.Year - Greenville Farms
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            }
        </footer>
    </body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</html>
