@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Greenville Farms</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/navbar.js"></script>
</head>
<body>
    <nav>
        <ul id="navbar">
            <li id="home">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li id="contact">
                @Html.ActionLink("Contact", "Contact", "Home")
            </li>
            <li id="about">
                @Html.ActionLink("About", "About", "Home")
            </li>
            @Html.Partial("_LoginPartial")
        </ul>        
    </nav>
    @RenderBody()
    <hr />
    <footer>
        &copy; @DateTime.Now.Year - Greenville Farms
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
