@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Greenville Farms</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/00df191463.js" crossorigin="anonymous"></script>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Averia+Libre&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arizonia&display=swap" rel="stylesheet">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/navbar.js"></script>
    <script type="text/javascript">
        function toggleDropdown() {
            $(".dropdown-menu").toggle();
        }

        $(document).click(function (e) {
            if (!$(e.target).is('#collapseNav') && (!$(e.target).is('.nav-item')) && (!$(e.target).is('.fas'))) {
                if ($("#collapseNav").hasClass("show")) {
                    $(".dropdown-menu").toggle(); //hide the dropdown
                    $("#collapseNav").removeClass("show"); //remove the show class
                }
	        }
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav" onclick="toggleDropdown()">
            <span class="fas fa-bars fa-2x" style="color:#6FA341;"></span>
        </button>
        <div id="collapseNav" class="collapse navbar-collapse">
            <ul class="navbar-nav" style="margin-right:10px;">
                <li class="nav-item">
                    <strong>
                        @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "nav-link" })
                    </strong>
                </li>
                <li class="nav-item">
                    <strong>
                        @Html.ActionLink("CONTACT", "Contact", "Home", null, new { @class = "nav-link" })
                    </strong>
                </li>
                <li class="nav-item">
                    <strong>
                        @Html.ActionLink("ABOUT", "About", "Home", null, new { @class = "nav-link" })
                    </strong>
                </li>                
            </ul>
            <ul class="nav" style="width:160px;">  
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle ml-auto" id="navbarDropdown" style="display:none;" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"></a>
                    <div class="dropdown-menu bg-dark ml-auto" aria-labelledby="navbarDropdown">
                        <strong>
                            @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "nav-link" })
                        </strong>
                        <strong>
                            @Html.ActionLink("CONTACT", "Contact", "Home", null, new { @class = "nav-link" })
                        </strong>
                        <strong>
                            @Html.ActionLink("ABOUT", "About", "Home", null, new { @class = "nav-link" })
                        </strong>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="center" id="title">
            <h1>Greenville Farms</h1>
        </div>
        @RenderBody()
    </div>
    <footer>
        <div class="row" style="margin:0;">
            <div class="col-sm-4" id="footer"><span id="gift"><strong>A Gift of Oregon</strong></span></div>
            <div class="col-sm-4 col-12 d-flex justify-content-center"><span id="farm">Greenville Farms</span></div>
            <div class="col-sm-4 d-flex justify-content-end" id="footer"><span id="gift"><strong>Made on the Farm</strong></span></div >
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
