@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Greenville Farms</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/navbar.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md text-center bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <strong>
                    @Html.ActionLink("HOME", "Index", "Home", null, new
                    {
                        @class = "nav-link"
                    })
                </strong>
            </li>
            <li class="nav-item">
                <strong>
                    @Html.ActionLink("CONTACT", "Contact", "Home", null, new
                    {
                        @class = "nav-link"
                    })
                </strong>
            </li>
            <li class="nav-item">
                <strong>
                    @Html.ActionLink("ABOUT", "About", "Home", null, new
                    {
                        @class = "nav-link"
                    })
                </strong>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>
    @RenderBody()
    <hr />
    <footer>
        &copy; @DateTime.Now.Year - Greenville Farms
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
