<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/Site.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav>
            <ul id="navbar">
                <li>
                    <a @Html.ActionLink("Home", "Index", "Home")</a>
                </li>
                <li>
                    <a @Html.ActionLink("Contact", "Contact", "Home")</a>
                </li>
                <li>
                    <a @Html.ActionLink("About", "About", "Home")</a>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </body>
</html>
