@model GreenvilleFarmsProject.Models.ContactForm
@{
    ViewBag.Title = "Contact";
}
    <div id="content" class="contact-image">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card mx-auto m-2 border-green" style="max-width: 50rem">
                    <div class="card-img-top bg-green mh-100;">
                        <h4 class="card-header" style="color:#ffffff;">
                            Send us a message
                        </h4><!--/card-header-->
                    </div>
                    <div class="container-fluid m-3 mx-auto">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="name"><strong>Name:</strong></label>
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Your name..." })
                                        @Html.ValidationMessageFor(x => x.Name)
                                    </div><!--/form-group-->
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email"><strong>Email:</strong></label>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Your email address..." })
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div><!--/form-group-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="subject"><strong>Subject:</strong></label>
                                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Subject..." })
                                        @Html.ValidationMessageFor(x => x.Subject)
                                    </div><!--/form-group-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="message"><strong>Message:</strong></label>
                                        @Html.TextAreaFor(x => x.EmailContents, new { @class = "form-control", placeholder = "Message...", rows = 5, resize = "vertical" })
                                        @Html.ValidationMessageFor(x => x.EmailContents)
                                    </div><!--/form-group-->
                                </div>
                            </div>
                            <input class="btn btn-green" type="submit" value="Send Email" />
                        }
                    </div><!--/container-fluid-->
                </div><!--/card-->
            </div>
        </div>
    </div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}