@model GreenvilleFarmsProject.Models.ContactForm
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid">
    <div class="align-content-center">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>
                    Name:
                </label>
                @Html.TextBoxFor(x => x.Name, new
                {
                    @class = "form-control",
                    placeholder = "Your name..."
                })
                @Html.ValidationMessageFor(x => x.Name)
            </div><!--/form-group-->
            <div class="form-group">
                <label>
                    Email:
                </label>
                @Html.TextBoxFor(x => x.Email, new
                {
                    @class = "form-control",
                    placeholder = "Your email address..."
                })
                @Html.ValidationMessageFor(x => x.Email)
            </div><!--/form-group-->
            <div class="form-group">
                <label>
                    Subject:
                </label>
                @Html.TextBoxFor(x => x.Subject, new
                {
                    @class = "form-control",
                    placeholder = "Subject...",
                })
                @Html.ValidationMessageFor(x => x.Subject)
            </div><!--/form-group-->
            <div class="form-group">
                <label>
                    Message:
                </label>
                @Html.TextAreaFor(x => x.EmailContents, new
                {
                    @class = "form-control",
                    placeholder = "Message...",
                    rows = 3
                })
                @Html.ValidationMessageFor(x => x.EmailContents)
            </div><!--/form-group-->
            <div>
                <input class="btn btn-light" type="submit" value="Send Email" />
            </div>
        }
    </div><!--/container-fluid-->
    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
