@model GreenvilleFarmsProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div id="content" class="contact-image background">
   <div class="row mb-5">
       <div class="col-md-12 col-12">
           <div class="d-flex justify-content-center m-3" id="profile">
               <div class="jumbotron">
                   <h2 class="h1">My Profile</h2>
                   <p class="text-success">@ViewBag.StatusMessage</p>
               </div>               
           </div>
       </div>
   </div>
    <div class="row">
       <div class="col-lg-6 col-12" id="column-padding">           
           <div class="card border-green">
               <div class="card-header bg-green" style="color:#ffffff;">
                   <h3>Account Settings</h3>
               </div>
               <div class="card-body">
                   <div class="d-flex justify-content-start">
                       <p style="font-size: 18px;">
                           @if (Model.HasPassword)
                           {
                               <strong>Password: @Html.ActionLink("Change your password", "ChangePassword")</strong>
                           }
                           else
                           {
                       <strong>Password: @Html.ActionLink("Create", "SetPassword")</strong>
                           }
                       </p>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-6 col-12">
           @if (ViewBag.Admin == 1)
           {
               <div class="card border-green">
                   <div class="card-header bg-green" style="color:#ffffff;">
                       <h3>Admin Links</h3>
                   </div>
                   <div class="card-body">
                       <p style="font-size: 18px;"><strong>@Html.ActionLink("Edit Backgrounds/Pictures", "AddPicture", "Admin")</strong></p>
                       @*<p style="font-size: 18px;"><strong>@Html.ActionLink("Edit Farmer's Markets", "EditMarket", "Admin")</strong></p>*@
                   </div>
               </div>
           }
       </div>
    </div>
</div>
